#colorlist{
  display: flex;
  flex-direction: row;
}
#nav{
  width: 520px;
}
ul li{
  float: left;
  margin: 8px;
  list-style-type: none;
}
#aboutcolor{
  position: sticky;
  top: 0px;
  height: 610px;
  margin-left: 10px;
}